<%= form_shalinis do |f| %>
<p>
<%= s.label :name %>
<%= s.text_field :name %>
</p>
<p>
<%= s.label :email %>
<%= s.text_field :email %>
</p>
<p>
<%= s.label :password %>
<%= s.text_field :password %>
</p>
<p>
<%= f.submit "save" %>
</p>
<% end %>
<%= link_to "back",shalinis_path%>
